@model OPDCLAIMFORM.Models.OPDEXPENSE_MASTERDETAIL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">library_books</i>
                    </div>
                    <h4 class="card-title">OPD Expense Details</h4>
                </div>
                <div class="card-body">
                    <div class="row mt-3">
                        @Html.Partial("_OPDExpenseView", Model)
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.opdEXPENSE.STATUS, "Status", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.opdEXPENSE.STATUS, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.opdEXPENSE.HR_COMMENT, "HR Comment", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.opdEXPENSE.HR_COMMENT, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.opdEXPENSE.HR_APPROVAL, "HR Approval", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.opdEXPENSE.HR_APPROVAL, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.opdEXPENSE.HR_NAME, "HR Name", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.opdEXPENSE.HR_NAME, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.opdEXPENSE.FINANCE_COMMENT, "Finance Comment", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.opdEXPENSE.FINANCE_COMMENT, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.opdEXPENSE.FINANCE_APPROVAL, "Finance Approval", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.opdEXPENSE.FINANCE_APPROVAL, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.opdEXPENSE.FINANCE_NAME, "Finance Name", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.opdEXPENSE.FINANCE_NAME, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.opdEXPENSE.MANAGEMENT_COMMENT, "Management Comment", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.opdEXPENSE.MANAGEMENT_COMMENT, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.opdEXPENSE.MANAGEMENT_APPROVAL, "Management Approval", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.opdEXPENSE.MANAGEMENT_APPROVAL, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.opdEXPENSE.MANAGEMENT_NAME, "Management Name", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.opdEXPENSE.MANAGEMENT_NAME, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_OPDPatientReceiptImagesView", Model)
        <div class="col-md-12">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>