@model OPDCLAIMFORM.Models.OPDEXPENSE_MASTERDETAIL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .list-dl {
        margin-left: 180px;
        margin-bottom: 20px;
    }
</style>

<h2>OPD Expense Details</h2>

<div>

    <hr />



    @Html.Partial("_OPDExpenseView", Model)

    <div class="form-group">
        @Html.LabelFor(model => model.opdEXPENSE.STATUS, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.opdEXPENSE.STATUS, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.opdEXPENSE.HR_COMMENT, "HR Comment", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.opdEXPENSE.HR_COMMENT, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.opdEXPENSE.HR_APPROVAL, "HR Approval", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.opdEXPENSE.HR_APPROVAL, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.opdEXPENSE.HR_NAME, "HR Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.opdEXPENSE.HR_NAME, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.opdEXPENSE.FINANCE_COMMENT, "Finance Comment", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.opdEXPENSE.FINANCE_COMMENT, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.opdEXPENSE.FINANCE_APPROVAL, "Finance Approval", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.opdEXPENSE.FINANCE_APPROVAL, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.opdEXPENSE.FINANCE_NAME, "Finance Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.opdEXPENSE.FINANCE_NAME, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.opdEXPENSE.MANAGEMENT_COMMENT, "Management Comment", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.opdEXPENSE.MANAGEMENT_COMMENT, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.opdEXPENSE.MANAGEMENT_APPROVAL, "Management Approval", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.opdEXPENSE.MANAGEMENT_APPROVAL, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.opdEXPENSE.MANAGEMENT_NAME, "Management Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.opdEXPENSE.MANAGEMENT_NAME, new { @readonly = "readonly", @class = "form-control" })
        </div>
    </div>








</div>

@Html.Partial("_OPDPatientReceiptImagesView", Model)
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
