@model PagedList.IPagedList<OPDCLAIMFORM.OPDEXPENSE>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Claim Form List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Claim Form List</h2>

@using (Html.BeginForm("Index", "OPDEXPENSEs", FormMethod.Get))
{
<p>
    Find by Expense Number: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
    <input type="submit" value="Search" />
</p>
}




<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Expense Number", "Index", new { sortOrder = ViewBag.ExpenseNumberSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Employee Name", "Index", new { sortOrder = ViewBag.EmployeeNameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Employee Department")
        </th>
        <th>
            @Html.ActionLink("Claim For Month", "Index", new { sortOrder = ViewBag.ClaimForMonthSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Claim For Year")
        </th>
        <th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayName("Total Amount Claimed")
        </th>
        <th>
            @Html.ActionLink("OPD Type", "Index", new { sortOrder = ViewBag.OPDTypeSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EXPENSE_NUMBER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMPLOYEE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMPLOYEE_DEPARTMENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLAIM_MONTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLAIM_YEAR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TOTAL_AMOUNT_CLAIMED)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OPDTYPE)
            </td>
            <td>
                @if (item.OPDTYPE.Equals("OPD Expense"))
                {
                    @Html.ActionLink("Edit", "MANOPDExpense", "MANAPPROVAL", new { id = item.OPDEXPENSE_ID }, null)

                }
                @if (item.OPDTYPE.Equals("Hospital Expense"))
                {
                    @Html.ActionLink("Edit", "MANHOSPITALExpense", "MANAPPROVAL", new { id = item.OPDEXPENSE_ID }, null)
                }
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))