@model OPDCLAIMFORM.Models.HOSPITALEXPENSE_MASTERDETAIL

@{
    ViewBag.Title = "FIN-HospitalExpense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">HR-HospitalExpense</h4>
            </div>
            <div class="card-body">

                @using (Html.BeginForm(null, null, FormMethod.Post, new
                {
                    id = "EditForm"

                }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row mt-3">

                        @Html.HiddenFor(model => model.OPDEXPENSE_ID)
                        @Html.HiddenFor(model => model.OPDTYPE)
                        @Html.HiddenFor(model => model.EMPLOYEE_EMAILADDRESS)
                        @Html.HiddenFor(model => model.MANAGEMENT_APPROVAL_DATE)
                        @Html.HiddenFor(model => model.HR_APPROVAL_DATE)
                        @Html.HiddenFor(model => model.FINANCE_APPROVAL_DATE)
                        @Html.HiddenFor(model => model.HR_EMAILADDRESS)
                        @Html.HiddenFor(model => model.CREATED_DATE)
                        @Html.Hidden("buttonName")

                        @Html.Partial("_HOSExpenseView", Model)
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TOTAL_AMOUNT_APPROVED, "Total Amount Approved", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.EditorFor(model => model.TOTAL_AMOUNT_APPROVED, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TOTAL_AMOUNT_APPROVED, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.HR_COMMENT, "HR Comment", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.HR_COMMENT, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.HR_NAME, "HR Name", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.TextBoxFor(model => model.HR_NAME, new { @readonly = "readonly", @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group bmd-form-group is-filled custom-form-group">
                                @Html.LabelFor(model => model.FINANCE_COMMENT, "Finance Comment", htmlAttributes: new { @class = "bmd-label-static custom-label" })
                                @Html.TextAreaFor(model => model.FINANCE_COMMENT, 2, 40, new { @class = "form-control custom-textarea" })
                                @Html.ValidationMessageFor(model => model.FINANCE_COMMENT, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FINANCE_NAME, "Finance Name", htmlAttributes: new { @class = "bmd-label-floating" })
                                @Html.EditorFor(model => model.FINANCE_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = (ViewBag.UserName) } })
                                @Html.ValidationMessageFor(model => model.FINANCE_NAME, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <button type="submit" class="btn btn-primary" value="approved" name="button" onclick="Validate(this, event);">Approved</button>
                                <button type="submit" class="btn btn-primary" value="rejected" name="button" onclick="Validate(this, event);">Rejected</button>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @Html.Partial("_HOSPatientReceiptImagesView", Model)

    <div class="col-md-12">
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

<script type="text/javascript">

    function Validate(ctl, event) {
    event.preventDefault();
    document.getElementById("buttonName").value = ctl.value;
    md.initShowSwal('warning-message-and-edit', 'OPDExpenses',@ViewData["OPDEXPENSE_ID"],ctl);
    }
</script>