@model OPDCLAIMFORM.Models.HOSPITALEXPENSE_MASTERDETAIL

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>OPDEXPENSE</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.OPDEXPENSE_ID)
    @Html.HiddenFor(model => model.OPDTYPE)

    <div class="form-group">
        @Html.LabelFor(model => model.EMPLOYEE_NAME, "Name of Employee", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.EMPLOYEE_NAME, new {@readonly = "readonly", @class = "form-control" })           
        </div>
    </div>   

    <div class="form-group">
        @Html.LabelFor(model => model.DATE_ILLNESS_NOTICED, "Date of illness first noticed", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DATE_ILLNESS_NOTICED,  "{0:MM/dd/yyyy}" , new {@readonly = "readonly", @class = "form-control" })          
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DATE_RECOVERY, "Date of recovery", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DATE_RECOVERY,"{0:MM/dd/yyyy}" , new {@readonly = "readonly", @class = "form-control" })          
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DIAGNOSIS, "Diagnosis", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DIAGNOSIS, new {@readonly = "readonly", @class = "form-control" })     
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CLAIMANT_SUFFERED_ILLNESS, "Has the claimant suffered from this illness before?", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.TextBoxFor(model => model.CLAIMANT_SUFFERED_ILLNESS,new {@readonly = "readonly", @class = "form-control" })               
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DATE, "If yes,please give claimant suffered from this illness date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DATE,"{0:MM/dd/yyyy}" , new {@readonly = "readonly", @class = "form-control" })           
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DETAILS, "If yes,please give claimant suffered from this illness details", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DETAILS,new {@readonly = "readonly", @class = "form-control" })           
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HOSPITAL_NAME, "Name of Hospital attended", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.HOSPITAL_NAME, new {@readonly = "readonly", @class = "form-control" })            
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DOCTOR_NAME, "Name of medical practitioner consulted:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DOCTOR_NAME,new {@readonly = "readonly", @class = "form-control" })            
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PERIOD_CONFINEMENT_DATE_FROM, "Period of confinement From", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.PERIOD_CONFINEMENT_DATE_FROM,"{0:MM/dd/yyyy}" ,new {@readonly = "readonly", @class = "form-control" })            
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PERIOD_CONFINEMENT_DATE_TO, "Period of confinement To", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.PERIOD_CONFINEMENT_DATE_TO,"{0:MM/dd/yyyy}" , new {@readonly = "readonly", @class = "form-control" })         
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DRUGS_PRESCRIBED_BOOL, "Were any drugs prescribed:Yes/No", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.TextBoxFor(model => model.DRUGS_PRESCRIBED_BOOL,new {@readonly = "readonly", @class = "form-control" })             
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DRUGS_PRESCRIBED_DESCRIPTION, "If yes,please list the drugs prescribed and administered", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.DRUGS_PRESCRIBED_DESCRIPTION, new {@readonly = "readonly", @class = "form-control" })            
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TOTAL_AMOUNT_CLAIMED, "Total Amount Claimed", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TOTAL_AMOUNT_CLAIMED, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TOTAL_AMOUNT_CLAIMED, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HR_COMMENT, "HR Comment", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.HR_COMMENT, 2, 40, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HR_COMMENT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HR_NAME, "HR Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HR_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HR_NAME, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.STATUS, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.STATUS, new List<SelectListItem>
                    {
                       new SelectListItem{ Text="HRApproved", Value = "HRApproved" },
                       new SelectListItem{ Text="HRRejected", Value = "HRRejected" }
                    }, new { @class = "form-control select2_demo_4" })
        </div>
    </div>





    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <h5>PATIENT INFORMATION</h5>
    <hr style="height:2px;border:none;color:#333;background-color:#333;">   
    @if (Model.listOPDEXPENSEPATIENT != null && Model.listOPDEXPENSEPATIENT.Count > 0)
    {
        <div class="row">
            <div class="col-md-offset-1 col-md-8">
                <section>
                    <table id="tblCustomers" class="table table-bordered table-striped">
                        <tr>
                            <th style="width:100px">Id</th>
                            <th style="width:150px">Name</th>
                            <th style="width:150px">Age</th>
                            <th style="width:150px">RelationShip</th>                           
                        </tr>

                        @foreach (OPDEXPENSE_PATIENT customer in Model.listOPDEXPENSEPATIENT)
                        {
                            <tr>
                                <td class="ID">
                                    <span>@customer.ID</span>
                                </td>
                                <td class="NAME">
                                    <span>@customer.NAME</span>
                                    <input type="text" value="@customer.NAME" style="display:none" />
                                </td>
                                <td class="AGE">
                                    <span>@customer.AGE</span>
                                    <input type="text" value="@customer.AGE" style="display:none" />
                                </td>
                                <td class="RELATIONSHIP_EMPLOYEE">
                                    <span>@customer.RELATIONSHIP_EMPLOYEE</span>
                                    <select id="relationShipListForEdit" style="display:none">
                                        <option value="SELF">SELF</option>
                                        <option value="FATHER">FATHER</option>
                                        <option value="MOTHER">MOTHER</option>
                                        <option value="SPOUSE">SPOUSE</option>
                                        <option value="DAUGHTER">DAUGHTER</option>
                                        <option value="SON">SON</option>
                                    </select>
                                </td>                               
                            </tr>
                        }
                    </table>
                </section>
            </div>
        </div>
    }
    else
    {
        <span>No Record Found</span>

    }
    <hr style="height:3px;border:none;color:#333;background-color:#333;">
</div>
<div>
    <h5>PATIENT RECEIPT INFORMATION</h5>
    <hr style="height:2px;border:none;color:#333;background-color:#333;">  
    @if (Model.listOPDEXPENSEIMAGE != null && Model.listOPDEXPENSEIMAGE.Count > 0)
    {
        <div class="row">
            <div class="col-md-offset-1 col-md-8">
                <section>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width:100px">Sr.</th>
                                <th style="width:150px">Image Name</th>
                                <th style="width:150px"></th>
                                <th style="width:150px">Expense Name</th>
                                <th style="width:150px">Expense Amount</th>                              

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.listOPDEXPENSEIMAGE.Count; i++)
                            {
                                <tr>
                                    <td style="text-align: center;">@(i + 1)</td>

                                    <td style="text-align: center;">
                                        <div class="input-group" style="height:40px;">
                                            <i class="fa fa-2x fa-paperclip text-navy"></i>
                                            <a class="download-file1" href="@Url.Action("DownloadFile", "OPDEXPENSEs", new { fileId = @Model.listOPDEXPENSEIMAGE[i].IMAGE_ID })" target="_blank">
                                                @Model.listOPDEXPENSEIMAGE[i].IMAGE_NAME
                                            </a>
                                        </div>
                                    </td>

                                    <td style="text-align: center;">
                                        <div>
                                            <img src="@Url.Action("DownloadFile", "OPDEXPENSEs", new { fileId = @Model.listOPDEXPENSEIMAGE[i].IMAGE_ID })" width="100" height="100" />
                                        </div>
                                    </td>

                                    <td style="text-align: center;">
                                        <div>
                                            @Html.DisplayFor(model => @Model.listOPDEXPENSEIMAGE[i].NAME_EXPENSES)
                                        </div>
                                    </td>

                                    <td style="text-align: center;">
                                        <div>
                                            @Html.DisplayFor(model => @Model.listOPDEXPENSEIMAGE[i].EXPENSE_AMOUNT)
                                        </div>
                                    </td>                                  
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    }
    else
    {
        <span> No Record Found</span>
    }
    <hr style="height:3px;border:none;color:#333;background-color:#333;">
</div>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $(".datepicker").datepicker({
                dateformat: "MM-dd-yyyy"
            });
        })

    </script>
}