@model OPDCLAIMFORM.Models.OPDEXPENSE_MASTERDETAIL

@{
    ViewBag.Title = "HR-OPDExpense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">HR-OPDExpense</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="row mt-3">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.opdEXPENSE.OPDEXPENSE_ID)
                            @Html.HiddenFor(model => model.opdEXPENSE.OPDTYPE)
                            @Html.HiddenFor(model => model.opdEXPENSE.CREATED_DATE)
                            @Html.HiddenFor(model => model.opdEXPENSE.EMPLOYEE_EMAILADDRESS)

                            @Html.Partial("_OPDExpenseView", Model)
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.opdEXPENSE.TOTAL_AMOUNT_APPROVED, "Total Amount Approved", htmlAttributes: new { @class = "bmd-label-floating" })
                                    @Html.EditorFor(model => model.opdEXPENSE.TOTAL_AMOUNT_APPROVED, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.opdEXPENSE.TOTAL_AMOUNT_APPROVED, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.opdEXPENSE.HR_NAME, "HR Name", htmlAttributes: new { @class = "bmd-label-floating" })
                                    @Html.EditorFor(model => model.opdEXPENSE.HR_NAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = (ViewBag.UserName) } })
                                    @Html.ValidationMessageFor(model => model.opdEXPENSE.HR_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group is-filled custom-form-group">
                                    @Html.LabelFor(model => model.opdEXPENSE.HR_COMMENT, "HR Comment", htmlAttributes: new { @class = "bmd-label-static custom-label" })
                                    @Html.TextAreaFor(model => model.opdEXPENSE.HR_COMMENT, 2, 40, new { @class = "form-control custom-textarea" })
                                    @Html.ValidationMessageFor(model => model.opdEXPENSE.HR_COMMENT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.opdEXPENSE.STATUS, "Status", htmlAttributes: new { @class = "bmd-label-floating" })
                                    @Html.DropDownListFor(model => model.opdEXPENSE.STATUS, new List<SelectListItem>
                                    {
                                        new SelectListItem{ Text="HRApproved", Value = "HRApproved" },
                                        new SelectListItem{ Text="HRRejected", Value = "HRRejected" }
                                    }, new { @class = "selectpicker", @data_style = "btn btn-primary" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        @Html.Partial("_OPDPatientReceiptImagesView", Model)
        <div class="col-md-12">
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
