@model OPDCLAIMFORM.Models.HOSPITALEXPENSE_MASTERDETAIL

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>HOSPITAL EXPENSE</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.EMPLOYEE_NAME, "Name of Employee:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EMPLOYEE_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EMPLOYEE_NAME, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.EMPLOYEE_DEPARTMENT, "Employee Department:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.EMPLOYEE_DEPARTMENT, new List<SelectListItem>
        {
                   new SelectListItem {Text = "Consulting", Value = "Consulting"},
                   new SelectListItem {Text = "Qorsquad", Value = "Qorsquad"},
                   new SelectListItem {Text = "Product", Value = "Product"},
                   new SelectListItem {Text = "SalesAndMarketing", Value = "SalesAndMarketing"},

                }, new { @class = "form-control select2_demo_4" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CLAIM_YEAR, "Claim For Year", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CLAIM_YEAR, new List<SelectListItem>
        {
                   new SelectListItem {Text = "2020", Value = "2020"},
                   new SelectListItem {Text = "2021", Value = "2021"},
                   new SelectListItem {Text = "2022", Value = "2022"},
                   new SelectListItem {Text = "2023", Value = "2023"},
                   new SelectListItem {Text = "2024", Value = "2024"},
                   new SelectListItem {Text = "2025", Value = "2025"},
                   new SelectListItem {Text = "2026", Value = "2026"},
                   new SelectListItem {Text = "2027", Value = "2027"},
                   new SelectListItem {Text = "2028", Value = "2028"},
                   new SelectListItem {Text = "2029", Value = "2029"},
                   new SelectListItem {Text = "2030", Value = "2030"},
                   new SelectListItem {Text = "2031", Value = "2031"},

                }, new { @class = "form-control select2_demo_4" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TOTAL_AMOUNT_CLAIMED, "Total Amount Claimed:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TOTAL_AMOUNT_CLAIMED, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TOTAL_AMOUNT_CLAIMED, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DATE_ILLNESS_NOTICED, "Date of Illness Noticed:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DATE_ILLNESS_NOTICED, new { htmlAttributes = new { @class = "datepicker form-control" } })
            @Html.ValidationMessageFor(model => model.DATE_ILLNESS_NOTICED, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DATE_RECOVERY, "Date of Recovery:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DATE_RECOVERY, new { htmlAttributes = new { @class = "datepicker form-control" } })
            @Html.ValidationMessageFor(model => model.DATE_RECOVERY, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DIAGNOSIS, "Diagnosis:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.DIAGNOSIS, 2, 40, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DIAGNOSIS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HOSPITAL_NAME, "Name of Hospital:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HOSPITAL_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HOSPITAL_NAME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DOCTOR_NAME, "Name of Doctor:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DOCTOR_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DOCTOR_NAME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PERIOD_CONFINEMENT_DATE_FROM, "Period of Confinement From:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PERIOD_CONFINEMENT_DATE_FROM, new { htmlAttributes = new { @class = "datepicker form-control" } })
            @Html.ValidationMessageFor(model => model.PERIOD_CONFINEMENT_DATE_FROM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PERIOD_CONFINEMENT_DATE_TO, "Period of Confinement To:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PERIOD_CONFINEMENT_DATE_TO, new { htmlAttributes = new { @class = "datepicker form-control" } })
            @Html.ValidationMessageFor(model => model.PERIOD_CONFINEMENT_DATE_TO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CLAIMANT_SUFFERED_ILLNESS, "The Claimant Suffered from Illness Before?", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.CLAIMANT_SUFFERED_ILLNESS)
                @Html.ValidationMessageFor(model => model.CLAIMANT_SUFFERED_ILLNESS, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DATE, "The Illness Date:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DATE, new { htmlAttributes = new { @class = "datepicker form-control" } })
            @Html.ValidationMessageFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DATE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DETAILS, "The Illness Details:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DETAILS, 2, 40, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DETAILS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DRUGS_PRESCRIBED_BOOL, "Drugs Prescribed:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.DRUGS_PRESCRIBED_BOOL)
                @Html.ValidationMessageFor(model => model.DRUGS_PRESCRIBED_BOOL, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DRUGS_PRESCRIBED_DESCRIPTION, "Drugs Description:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.DRUGS_PRESCRIBED_DESCRIPTION, 2, 40, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DRUGS_PRESCRIBED_DESCRIPTION, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script>
    $(function () {
        $(".datepicker").datepicker({
            dateformat : "yy-mm-dd"
        });
    })

    $(document).ready(function () {

        $("#CLAIMANT_SUFFERED_ILLNESS_DATE").attr("disabled", "disabled");
        $("#CLAIMANT_SUFFERED_ILLNESS_DETAILS").attr("disabled", "disabled");
        $("#DRUGS_PRESCRIBED_DESCRIPTION").attr("disabled", "disabled");

      
        $("#CLAIMANT_SUFFERED_ILLNESS").click(function () {
            if ($("#CLAIMANT_SUFFERED_ILLNESS option:selected").text() == "True") {
                $("#CLAIMANT_SUFFERED_ILLNESS_DATE").removeAttr("disabled");
                $("#CLAIMANT_SUFFERED_ILLNESS_DETAILS").removeAttr("disabled");
            }
            else {
                $("#CLAIMANT_SUFFERED_ILLNESS_DATE").attr("disabled", "disabled");
                 $("#CLAIMANT_SUFFERED_ILLNESS_DETAILS").attr("disabled", "disabled");
            }
           
        });

          $("#DRUGS_PRESCRIBED_BOOL").click(function () {
              if ($("#DRUGS_PRESCRIBED_BOOL option:selected").text() == "True") {
                  $("#DRUGS_PRESCRIBED_DESCRIPTION").removeAttr("disabled");
              }
              else {
                  $("#DRUGS_PRESCRIBED_DESCRIPTION").attr("disabled", "disabled");
              }
           
        });


    }
     );


</script>

}
