@model OPDCLAIMFORM.Models.HOSPITALEXPENSE_MASTERDETAIL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .list-dl {
        margin-left: 180px;
        margin-bottom: 20px;
    }
</style>

<h2>Hospital Expense Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Name of Employee")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.EMPLOYEE_NAME)
        </dd>

        <dt>
            @Html.DisplayName("Employee Department")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.EMPLOYEE_DEPARTMENT)
        </dd>

        <dt>
            @Html.DisplayName("Claim For Year")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.CLAIM_YEAR)
        </dd>

        <dt>
            @Html.DisplayName("Date of Illness Noticed")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.DATE_ILLNESS_NOTICED)
        </dd>

        <dt>
            @Html.DisplayName("Date of Recovery")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.DATE_RECOVERY)
        </dd>

        <dt>
            @Html.DisplayName("Diagnosis")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.DIAGNOSIS)
        </dd>

        <dt>
            @Html.DisplayName("Hospital Name")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.HOSPITAL_NAME)
        </dd>

        <dt>
            @Html.DisplayName("Doctor Name")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.DOCTOR_NAME)
        </dd>

        <dt>
            @Html.DisplayName("Period of Confinement From")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.PERIOD_CONFINEMENT_DATE_FROM)
        </dd>

        <dt>
            @Html.DisplayName("Period of Confinement To")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.PERIOD_CONFINEMENT_DATE_TO)
        </dd>

        <dt>
            @Html.DisplayName("The Claimant Suffered from Illness Before?")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.CLAIMANT_SUFFERED_ILLNESS)
        </dd>

        <dt>
            @Html.DisplayName("The Illness Date")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DATE)
        </dd>

        <dt>
            @Html.DisplayName("The Illness Details")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DETAILS)
        </dd>

        <dt>
            @Html.DisplayName("Drugs Prescribed")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.DRUGS_PRESCRIBED_BOOL)
        </dd>

        <dt>
            @Html.DisplayName("Drugs Description")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.DRUGS_PRESCRIBED_DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayName("Status")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayName("Total Amount Claimed")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.TOTAL_AMOUNT_CLAIMED)
        </dd>


        <dt>
            @Html.DisplayName("HR Comment")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.HR_COMMENT)
        </dd>

        <dt>
            @Html.DisplayName("HR Approval")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.HR_APPROVAL)
        </dd>

        <dt>
            @Html.DisplayName("HR Name")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.HR_NAME)
        </dd>

        <dt>
            @Html.DisplayName("Finance Comment")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.FINANCE_COMMENT)
        </dd>

        <dt>
            @Html.DisplayName("Finance Approval")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.FINANCE_APPROVAL)
        </dd>

        <dt>
            @Html.DisplayName("Finance Name")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.FINANCE_NAME)
        </dd>

        <dt>
            @Html.DisplayName("Management Comment")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.MANAGEMENT_COMMENT)
        </dd>

        <dt>
            @Html.DisplayName("Management Approval")

        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.MANAGEMENT_APPROVAL)
        </dd>

        <dt>
            @Html.DisplayName("Management Name")
        </dt>

        <dd class="list-dl">
            @Html.DisplayFor(model => model.MANAGEMENT_NAME)
        </dd>


    </dl>
</div>
<hr style="height:2px;border:none;color:#333;background-color:#333;">
<h5>PATIENT INFORMATION</h5>
<hr style="height:2px;border:none;color:#333;background-color:#333;">

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <section>

            <table id="tblCustomers" class="table table-bordered table-striped">
                <tr>
                    <th style="width: 100px">Id</th>
                    <th style="width:150px">Name</th>
                    <th style="width:150px">Age</th>
                    <th style="width:150px">RelationShip</th>
                    <th style="width:150px"></th>
                </tr>
                @foreach (OPDEXPENSE_PATIENT customer in Model.listOPDEXPENSEPATIENT)
                {
                    <tr>
                        <td class="ID">
                            <span>@customer.ID</span>
                        </td>
                        <td class="NAME">
                            <span>@customer.NAME</span>
                            <input type="text" value="@customer.NAME" style="display:none" />
                        </td>
                        <td class="AGE">
                            <span>@customer.AGE</span>
                            <input type="text" value="@customer.AGE" style="display:none" />
                        </td>
                        <td class="RELATIONSHIP_EMPLOYEE">
                            <span>@customer.RELATIONSHIP_EMPLOYEE</span>
                            <select id="relationShipListForEdit" style="display:none">
                                <option value="SELF">SELF</option>
                                <option value="FATHER">FATHER</option>
                                <option value="MOTHER">MOTHER</option>
                                <option value="SPOUSE">SPOUSE</option>
                                <option value="DAUGHTER">DAUGHTER</option>
                                <option value="SON">SON</option>
                            </select>
                        </td>
                    </tr>
                }
            </table>
        </section>
    </div>


</div>
<hr style="height:2px;border:none;color:#333;background-color:#333;">
<h5>PATIENT RECEIPT INFORMATION</h5>
<hr style="height:2px;border:none;color:#333;background-color:#333;">

<div>
    @if (Model.listOPDEXPENSEIMAGE != null &&
     Model.listOPDEXPENSEIMAGE.Count > 0)
    {
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <section>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Sr.</th>
                                <th style="text-align: center;">Image Name</th>
                                <th style="text-align: center;"></th>
                                <th style="text-align: center;">Expense Name</th>
                                <th style="text-align: center;">Expense Amount</th>

                            </tr>
                        </thead>

                        <tbody>
                            @for (int i = 0; i < Model.listOPDEXPENSEIMAGE.Count; i++)
                            {
                                <tr>
                                    <td style="text-align: center;">@(i + 1)</td>

                                    <td style="text-align: center;">
                                        <div class="input-group" style="height:40px;">
                                            <i class="fa fa-2x fa-paperclip text-navy"></i>
                                            <a class="download-file1" href="@Url.Action("DownloadFile", "OPDEXPENSEs", new { fileId = @Model.listOPDEXPENSEIMAGE[i].IMAGE_ID })" target="_blank">
                                                @Model.listOPDEXPENSEIMAGE[i].IMAGE_NAME
                                            </a>
                                        </div>
                                    </td>

                                    <td style="text-align: center;">
                                        <div>
                                            <img src="@Url.Action("DownloadFile", "OPDEXPENSEs", new { fileId = @Model.listOPDEXPENSEIMAGE[i].IMAGE_ID })" width="100" height="100" />
                                        </div>
                                    </td>

                                    <td style="text-align: center;">
                                        <div>
                                            @Html.DisplayFor(model => @Model.listOPDEXPENSEIMAGE[i].NAME_EXPENSES)
                                        </div>
                                    </td>

                                    <td style="text-align: center;">
                                        <div>
                                            @Html.DisplayFor(model => @Model.listOPDEXPENSEIMAGE[i].EXPENSE_AMOUNT)
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    }
</div>




<p>
    @Html.ActionLink("Back to List", "Index", "OPDEXPENSEs")
</p>
