@model OPDCLAIMFORM.Models.HOSPITALEXPENSE_MASTERDETAIL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OPDEXPENSE</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Name of Employee")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE_NAME)
        </dd>

        <dt>
            @Html.DisplayName("Employee Department")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE_DEPARTMENT)
        </dd>

        <dt>
            @Html.DisplayName("Claim For Year")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAIM_YEAR)
        </dd>

        <dt>
            @Html.DisplayName("Date of Illness Noticed")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_ILLNESS_NOTICED)
        </dd>

        <dt>
            @Html.DisplayName("Date of Recovery")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_RECOVERY)
        </dd>

        <dt>
            @Html.DisplayName("Diagnosis")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIAGNOSIS)
        </dd>

        <dt>
            @Html.DisplayName("Hospital Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOSPITAL_NAME)
        </dd>

        <dt>
            @Html.DisplayName("Doctor Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCTOR_NAME)
        </dd>

        <dt>
            @Html.DisplayName("Period of Confinement From")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERIOD_CONFINEMENT_DATE_FROM)
        </dd>

        <dt>
            @Html.DisplayName("Period of Confinement To")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERIOD_CONFINEMENT_DATE_TO)
        </dd>

        <dt>
            @Html.DisplayName("The Claimant Suffered from Illness Before?")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAIMANT_SUFFERED_ILLNESS)
        </dd>

        <dt>
            @Html.DisplayName("The Illness Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DATE)
        </dd>

        <dt>
            @Html.DisplayName("The Illness Details")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DETAILS)
        </dd>

        <dt>
            @Html.DisplayName("Drugs Prescribed")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DRUGS_PRESCRIBED_BOOL)
        </dd>

        <dt>
            @Html.DisplayName("Drugs Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DRUGS_PRESCRIBED_DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayName("Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayName("Total Amount Claimed")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL_AMOUNT_CLAIMED)
        </dd>


        <dt>
            @Html.DisplayName("HR Comment")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_COMMENT)
        </dd>

        <dt>
            @Html.DisplayName("HR Approval")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_APPROVAL)
        </dd>

        <dt>
            @Html.DisplayName("HR Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_NAME)
        </dd>

        <dt>
            @Html.DisplayName("Finance Comment")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FINANCE_COMMENT)
        </dd>

        <dt>
            @Html.DisplayName("Finance Approval")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FINANCE_APPROVAL)
        </dd>

        <dt>
            @Html.DisplayName("Finance Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FINANCE_NAME)
        </dd>

        <dt>
            @Html.DisplayName("Management Comment")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MANAGEMENT_COMMENT)
        </dd>

        <dt>
            @Html.DisplayName("Management Approval")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.MANAGEMENT_APPROVAL)
        </dd>

        <dt>
            @Html.DisplayName("Management Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MANAGEMENT_NAME)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "OPDEXPENSEs")
</p>
