@model OPDCLAIMFORM.Models.HOSPITALEXPENSE_MASTERDETAIL

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>OPDEXPENSE</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.OPDEXPENSE_ID)
    @Html.HiddenFor(model => model.OPDTYPE)

    <div class="form-group">
        @Html.LabelFor(model => model.EMPLOYEE_NAME, "Name of Employee", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EMPLOYEE_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EMPLOYEE_NAME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EMPLOYEE_DEPARTMENT, "Employee Department:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.EMPLOYEE_DEPARTMENT, new List<SelectListItem>
        {
                   new SelectListItem {Text = "Consulting", Value = "Consulting"},
                   new SelectListItem {Text = "Qorsquad", Value = "Qorsquad"},
                   new SelectListItem {Text = "Product", Value = "Product"},
                   new SelectListItem {Text = "SalesAndMarketing", Value = "SalesAndMarketing"},

                }, new { @class = "form-control select2_demo_4" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CLAIM_YEAR, "Claim For Year", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.CLAIM_YEAR, new List<SelectListItem>
        {
                   new SelectListItem {Text = "2020", Value = "2020"},
                   new SelectListItem {Text = "2021", Value = "2021"},
                   new SelectListItem {Text = "2022", Value = "2022"},
                   new SelectListItem {Text = "2023", Value = "2023"},
                   new SelectListItem {Text = "2024", Value = "2024"},
                   new SelectListItem {Text = "2025", Value = "2025"},
                   new SelectListItem {Text = "2026", Value = "2026"},
                   new SelectListItem {Text = "2027", Value = "2027"},
                   new SelectListItem {Text = "2028", Value = "2028"},
                   new SelectListItem {Text = "2029", Value = "2029"},
                   new SelectListItem {Text = "2030", Value = "2030"},
                   new SelectListItem {Text = "2031", Value = "2031"},

                }, new { @class = "form-control select2_demo_4" })
        </div>
    </div>




    <div class="form-group">
        @Html.LabelFor(model => model.STATUS, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.STATUS, new List<SelectListItem>
                    {
                       new SelectListItem{ Text="InProcess", Value = "InProcess" },
                       new SelectListItem{ Text="Completed", Value = "Completed" },

                    }, new { @class = "form-control select2_demo_4" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TOTAL_AMOUNT_CLAIMED, "Total Amount Claimed", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TOTAL_AMOUNT_CLAIMED, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TOTAL_AMOUNT_CLAIMED, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DATE_ILLNESS_NOTICED, "Date of illness first noticed", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DATE_ILLNESS_NOTICED, new { htmlAttributes = new { @class = "datepicker form-control" } })
            @Html.ValidationMessageFor(model => model.DATE_ILLNESS_NOTICED, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DATE_RECOVERY, "Date of recovery", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DATE_RECOVERY, new { htmlAttributes = new { @class = "datepicker form-control" } })
            @Html.ValidationMessageFor(model => model.DATE_RECOVERY, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DIAGNOSIS, "Diagnosis", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DIAGNOSIS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DIAGNOSIS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CLAIMANT_SUFFERED_ILLNESS, "Has the claimant suffered from this illness before?", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.CLAIMANT_SUFFERED_ILLNESS)
                @Html.ValidationMessageFor(model => model.CLAIMANT_SUFFERED_ILLNESS, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DATE, "If yes,please give claimant suffered from this illness date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DATE, new { htmlAttributes = new { @class = "datepicker form-control" } })
            @Html.ValidationMessageFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DATE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DETAILS, "If yes,please give claimant suffered from this illness details", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DETAILS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CLAIMANT_SUFFERED_ILLNESS_DETAILS, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HOSPITAL_NAME, "Name of Hospital attended", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HOSPITAL_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HOSPITAL_NAME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DOCTOR_NAME, "Name of medical practitioner consulted:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DOCTOR_NAME, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DOCTOR_NAME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PERIOD_CONFINEMENT_DATE_FROM, "Period of confinement From", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PERIOD_CONFINEMENT_DATE_FROM, new { htmlAttributes = new { @class = "datepicker form-control" } })
            @Html.ValidationMessageFor(model => model.PERIOD_CONFINEMENT_DATE_FROM, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PERIOD_CONFINEMENT_DATE_TO, "Period of confinement To", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PERIOD_CONFINEMENT_DATE_TO, new { htmlAttributes = new { @class = "datepicker form-control" } })
            @Html.ValidationMessageFor(model => model.PERIOD_CONFINEMENT_DATE_TO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DRUGS_PRESCRIBED_BOOL, "Were any drugs prescribed:Yes/No", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.DRUGS_PRESCRIBED_BOOL)
                @Html.ValidationMessageFor(model => model.DRUGS_PRESCRIBED_BOOL, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DRUGS_PRESCRIBED_DESCRIPTION, "If yes,please list the drugs prescribed and administered", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DRUGS_PRESCRIBED_DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DRUGS_PRESCRIBED_DESCRIPTION, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    <h5>PATIENT INFORMATION</h5>
    <hr style="height:2px;border:none;color:#333;background-color:#333;">
    @Html.ActionLink("Add Patient Information", "Index", "OPDEXPENSEPATIENT", new { id = @ViewData["OPDEXPENSE_ID"] }, null)
    <br />
    @if (Model.listOPDEXPENSEPATIENT != null && Model.listOPDEXPENSEPATIENT.Count > 0)
    {
        <div class="row">
            <div class="col-md-offset-1 col-md-8">
                <section>
                    <table id="tblCustomers" class="table table-bordered table-striped">
                        <tr>
                            <th style="width:100px">Id</th>
                            <th style="width:150px">Name</th>
                            <th style="width:150px">Age</th>
                            <th style="width:150px">RelationShip</th>
                            <th style="width:150px">Delete</th>
                        </tr>

                        @foreach (OPDEXPENSE_PATIENT customer in Model.listOPDEXPENSEPATIENT)
                        {
                            <tr>
                                <td class="ID">
                                    <span>@customer.ID</span>
                                </td>
                                <td class="NAME">
                                    <span>@customer.NAME</span>
                                    <input type="text" value="@customer.NAME" style="display:none" />
                                </td>
                                <td class="AGE">
                                    <span>@customer.AGE</span>
                                    <input type="text" value="@customer.AGE" style="display:none" />
                                </td>
                                <td class="RELATIONSHIP_EMPLOYEE">
                                    <span>@customer.RELATIONSHIP_EMPLOYEE</span>
                                    <select id="relationShipListForEdit" style="display:none">
                                        <option value="SELF">SELF</option>
                                        <option value="FATHER">FATHER</option>
                                        <option value="MOTHER">MOTHER</option>
                                        <option value="SPOUSE">SPOUSE</option>
                                        <option value="DAUGHTER">DAUGHTER</option>
                                        <option value="SON">SON</option>
                                    </select>
                                </td>

                                <td>
                                    <a class="Delete" onclick="return DeleteOPDExpensePatient(@customer.ID , this)" href="javascript:;">Delete</a>

                                </td>
                            </tr>
                        }
                    </table>
                </section>
            </div>
        </div>
    }
    else
    {
        <span>No Record Found</span>

    }
    <hr style="height:3px;border:none;color:#333;background-color:#333;">
</div>
<div>
    <h5>PATIENT RECEIPT INFORMATION</h5>
    <hr style="height:2px;border:none;color:#333;background-color:#333;">
    @Html.ActionLink("Add Receipt Information", "Index", "OPDEXPENSEIMAGE", new { id = @ViewData["OPDEXPENSE_ID"] }, null)
    <br />
    @if (Model.listOPDEXPENSEIMAGE != null && Model.listOPDEXPENSEIMAGE.Count > 0)
    {
        <div class="row">
            <div class="col-md-offset-1 col-md-8">
                <section>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width:100px">Sr.</th>
                                <th style="width:150px">Image Name</th>
                                <th style="width:150px"></th>
                                <th style="width:150px">Expense Name</th>
                                <th style="width:150px">Expense Amount</th>
                                <th style="width:150px">Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.listOPDEXPENSEIMAGE.Count; i++)
                            {
                                <tr>
                                    <td style="text-align: center;">@(i + 1)</td>

                                    <td style="text-align: center;">
                                        <div class="input-group" style="height:40px;">
                                            <i class="fa fa-2x fa-paperclip text-navy"></i>
                                            <a class="download-file1" href="@Url.Action("DownloadFile", "OPDEXPENSEs", new { fileId = @Model.listOPDEXPENSEIMAGE[i].IMAGE_ID })" target="_blank">
                                                @Model.listOPDEXPENSEIMAGE[i].IMAGE_NAME
                                            </a>
                                        </div>
                                    </td>

                                    <td style="text-align: center;">
                                        <div>
                                            <img src="@Url.Action("DownloadFile", "OPDEXPENSEs", new { fileId = @Model.listOPDEXPENSEIMAGE[i].IMAGE_ID })" width="100" height="100" />
                                        </div>
                                    </td>

                                    <td style="text-align: center;">
                                        <div>
                                            @Html.DisplayFor(model => @Model.listOPDEXPENSEIMAGE[i].NAME_EXPENSES)
                                        </div>
                                    </td>

                                    <td style="text-align: center;">
                                        <div>
                                            @Html.DisplayFor(model => @Model.listOPDEXPENSEIMAGE[i].EXPENSE_AMOUNT)
                                        </div>
                                    </td>
                                    <td>
                                        <a class="Delete" onclick="return DeleteOPDExpenseImage(@Model.listOPDEXPENSEIMAGE[i].IMAGE_ID , this)" href="javascript:;">Delete</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    }
    else
    {
        <span> No Record Found</span>
    }
    <hr style="height:3px;border:none;color:#333;background-color:#333;">
</div>





<div>
    @Html.ActionLink("Back to List", "Index", "OPDEXPENSEs")
</div>


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $(".datepicker").datepicker({
                dateformat: "MM-dd-yyyy"
            });
        })




        //Delete event handler For OPD Expense Patient.
        function DeleteOPDExpensePatient(ID, _this) {
            if (confirm("Do you want to delete this row?")) {
                $.ajax({
                    type: "POST",
                    url: "/OPDEXPENSEPATIENT/DeleteOPDExpensePatient",
                    data: '{ID: ' + ID + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {

                        $(_this).closest('tr').remove();

                    },
                    error: function (data) {

                        $(_this).closest('tr').remove();

                    }
                });
            }
        };

        //Delete event handler For OPD Expense Image.
        function DeleteOPDExpenseImage(ID, _this) {
            if (confirm("Do you want to delete this row?")) {
                $.ajax({
                    type: "POST",
                    url: "/OPDEXPENSEIMAGE/DeleteOPDEXPENSEIMAGE",
                    data: '{ID: ' + ID + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {

                        $(_this).closest('tr').remove();

                    },
                    error: function (data) {

                        $(_this).closest('tr').remove();

                    }
                });
            }
        };

         $(document).ready(function () {

         if ($("#CLAIMANT_SUFFERED_ILLNESS option:selected").text() == "True") {
                $("#CLAIMANT_SUFFERED_ILLNESS_DATE").removeAttr("disabled");
                $("#CLAIMANT_SUFFERED_ILLNESS_DETAILS").removeAttr("disabled");
             }
         else {
                $("#CLAIMANT_SUFFERED_ILLNESS_DATE").attr("disabled", "disabled");
                $("#CLAIMANT_SUFFERED_ILLNESS_DETAILS").attr("disabled", "disabled");
              }

         if ($("#DRUGS_PRESCRIBED_BOOL option:selected").text() == "True") {
                  $("#DRUGS_PRESCRIBED_DESCRIPTION").removeAttr("disabled");
              }
         else {
                  $("#DRUGS_PRESCRIBED_DESCRIPTION").attr("disabled", "disabled");
              }



        $("#CLAIMANT_SUFFERED_ILLNESS").click(function () {
            if ($("#CLAIMANT_SUFFERED_ILLNESS option:selected").text() == "True") {
                $("#CLAIMANT_SUFFERED_ILLNESS_DATE").removeAttr("disabled");
                $("#CLAIMANT_SUFFERED_ILLNESS_DETAILS").removeAttr("disabled");
            }
            else {
                $("#CLAIMANT_SUFFERED_ILLNESS_DATE").attr("disabled", "disabled");
                 $("#CLAIMANT_SUFFERED_ILLNESS_DETAILS").attr("disabled", "disabled");
            }
           
        });

          $("#DRUGS_PRESCRIBED_BOOL").click(function () {
              if ($("#DRUGS_PRESCRIBED_BOOL option:selected").text() == "True") {
                  $("#DRUGS_PRESCRIBED_DESCRIPTION").removeAttr("disabled");
              }
              else {
                  $("#DRUGS_PRESCRIBED_DESCRIPTION").attr("disabled", "disabled");
              }
           
        });


    }
     );

    </script>
}