@model IEnumerable<OPDCLAIMFORM.OPDEXPENSE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>       
        <th>
            @Html.DisplayName("Employee Name")
        </th>   
       <th>
            @Html.DisplayName("Total Amount Claimed")
        </th>    
       <th>
            @Html.DisplayName("Date of illness Noticed")
        </th>
        <th>
            @Html.DisplayName("Date of recovery")
        </th>   
       
        <th>
            @Html.DisplayName("Hospital Name")
        </th>
        <th>
            @Html.DisplayName("Doctor Name")
        </th>
        <th>
            @Html.DisplayName("Period Confinement From Date")
        </th>
        <th>
            @Html.DisplayName("Period Confinement To Date")
        </th>          
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.EMPLOYEE_NAME)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL_AMOUNT_CLAIMED)
        </td>    
        <td>
            @Html.DisplayFor(modelItem => item.DATE_ILLNESS_NOTICED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_RECOVERY)
        </td>      
      
        <td>
            @Html.DisplayFor(modelItem => item.HOSPITAL_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOCTOR_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERIOD_CONFINEMENT_DATE_FROM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERIOD_CONFINEMENT_DATE_TO)
        </td>           
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OPDEXPENSE_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OPDEXPENSE_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OPDEXPENSE_ID })
        </td>
    </tr>
}

</table>
